h1 {
  text-align: center;
}
.link {
  display: flex;
  text-align: center;
  text-decoration: none;
}
.image {
  display: block;
  text-align: center;
}
.mail {
  text-align: center;
  text-decoration: none;
}
